################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Expert.WebApi.Uvod/bin/Debug/net7.0
/Expert.WebApi.Uvod/obj
